/* body{
    background-color: red;
}
div{
    font-size: x-large;
    text-align: center;
}
div::after{
    content: 'Welcome to the demo';
}
@media (max-width:400px){
    body{
        background-color: white;
    }
    div::after{
        content: 'very small';
    }
} */
/* @media (min-width:400px) and (max-width: 768px){
    body{
        background-color: yellowgreen;
    }
    div::after{
        content: 'Mid size device';
    }
}   can be written like this|*/
/* @media (480px <= width <= 768px){
    body{
        background-color: yellowgreen;
    }
    div::after{
        content: 'Mid size device';
    }
} */

/* @media (min-width: 768px) and (max-width: 900px){
    body{
        background-color: purple;
    }
    div::after{
        content: 'Wow is working';
    }
}*/
/* @media (min-width: 900px){
    if viewport is at-least 900px then this style will apply
    body{
        background-color: aquamarine;
    }
    div::after{
        content: 'Wow is working';
    }
} */

@media(max-width:600px){
    /* phones */
    body{
        background-color: red;
    }
    div::after{
        content: 'This is mobile compatible'
    }
}
@media(min-width:600px){
    /* portrait tablets and big phones */
    body{
        background-color: aquamarine;
    }
    div::after{
        content:'Portrait tablets and big phones'
    }
}
@media(min-width:768px){
    /* tablet */
    body{
        background-color: #4545c4;
    }
    div::after{
        content:'Tablets'
    }
}
@media(min-width:992px){
    /* Laptops */
    body{
        background-color: yellowgreen;
    }
    div::after{
        content:'Laptops'
    }
}
@media(min-width:1200px){
    /* Larger Screens */
    body{
        background-color: violet;
    }
    div::after{
        content:'Larger Screens'
    }
}
div{
    text-align: center;
    font-size: x-large;
}