* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  
body{
    background-color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0 0 5px #000000;
    padding: 20px;
    border-radius: 5px;
}
button{
    padding: 5px 15px;
    font-size: 20px;
    font-weight: bold;
}
#displayValue{
    padding: 5px 15px;
    font-size: 20px;
    border: 1px solid #000000;
}